<h1>Activities</h1>

<ul>
  <% @activities.each do |activity| %>
    <li>
        <%= link_to activity.date, activity %>
        <%= activity.type.name %>
        <%= activity.print_subjects %>
        <%= activity.duration %>
        <%= activity.comment %>
    </li>
  <% end %>
</ul>